/*--------------------------------------------------
GÉNÉRIQUE
----------------------------------------------------*/
html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*--------------------------------------------------
ÉLÉMENTS
----------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
}

h2{
    font-size: 36px;
    font-weight: bold;
    color: #0E5EA1 ;
}

h3{
    font-size: 24px;
    font-weight: bold;
}