/*--------------------------------------------------
GÉNÉRIQUE
----------------------------------------------------*/
html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*--------------------------------------------------
ÉLÉMENTS
----------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
    font-size: 18px;
    background-color: #EEEEEE;

}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #0E5EA1;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

a:hover {
    background-color: #0E5EA1;
    color: white;
}

/*-------------------------------------------------
COMPONENTS
----------------------------------------------------*/

/*wrapper*/

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

/*header*/
.header {
    background-color: white;
}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}