/*--------------------------------------------------
GÉNÉRIQUE
----------------------------------------------------*/
html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*--------------------------------------------------
ÉLÉMENTS
----------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    font-family: "Dosis", sans-serif;
    font-size: 18px;
    background-color: #EEEEEE;

}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    color: #0E5EA1;
    padding: 0px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 0px;
}




/*-------------------------------------------------
COMPONENTS
----------------------------------------------------*/

/*wrapper*/

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

/*header*/
.header {
    background-color: white;
    padding-top: 36px;
    padding-bottom: 36px;

}

.header .wrapper {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 40px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}


.menu a {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu a:hover {
    background-color: #0E5EA1;
    color: white;
    border-radius: 5px;

}


/*hero*/

.hero {
    background-image: url(../images/section.hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 136px;
    padding-bottom: 136px;
}

.hero .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    background-color: rgba(0, 0, 0, 0.5);
    width: 642px;
    height: 178px;
}

.content p {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center;

}

/*contenu*/

.contenu {
    padding-top: 80px;
    padding-bottom: 80px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;

}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-bottom: 4px solid #0E5EA1;

}

.card p {
    padding-top: 25px;
    padding-bottom: 25px;
}


.card a {
    font-size: 14px;
    font-weight: bold;
    align-self: center;
    margin-top: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.card a:hover {
    background-color: #0E5EA1;
    color: white;
    border-radius: 5px;
}

/*banner*/
.banner {
    padding-bottom: 80px;
}

/*footer*/

.footer {
    background-color: black;
    padding-top: 24px;
    padding-bottom: 24px;
}

.footer p {
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif; 
}